.aboutBody_1,
.aboutBody_2 {
  font-size: 31.25vw;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  position: absolute;
  font-family: "Lexend";
}

.aboutBody_2 {
  font-weight: 700;
  top: 87.5vw;
  transform: rotate(13.162deg);
}
.aboutBody_1 {
  top: 25vw;
  right: 2vw;
  transform: rotate(13.162deg);
}
.aboutBody {
  background-color: #080808;
  font-family: "Roboto";
  overflow-x: hidden;
}
.aboutMetaImg {
  text-align: center;
  padding: 6%;
}
.aboutMetaImg img {
  width: 21%;
  height: 10%;
}
.aboutMissionHead {
  background-image: linear-gradient(270deg, #6c6a6a 6.12%, #ffffff 103.1%);
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.backImg {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
}

.contactUsButton {
  background: linear-gradient(#0e101c, #0e101c) padding-box,
    linear-gradient(
        228.09deg,
        #ffea2c -9.95%,
        rgba(251, 108, 4, 0.796875) 12.47%,
        rgba(255, 126, 227, 0.81) 30.87%,
        rgba(255, 255, 255, 0) 53.87%,
        rgba(131, 73, 255, 0.65) 70.34%,
        #0eff26 100.44%
      )
      border-box !important;
  border: 1px solid transparent !important;
  background-color: #0e101c !important;
  position: relative;
  transform-style: preserve-3d;
}
.contactUsButton::before {
  content: "";
  position: absolute;
  inset: -0.5vw;
  z-index: -1;
  transform: translate3d(0, 0, -0.052vw); /* (X, Y, Z) */
  background: linear-gradient(
    335deg,
    rgba(136, 96, 243, 1) 27%,
    rgba(255, 255, 255, 1) 100%
  );
  background-color: #0e101c;
  opacity: 0.3;
  filter: blur(0.781vw);
}

.aboutMethodCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.aboutMethodCards-1 {
  background: linear-gradient(
    129deg,
    #1e262e 0%,
    rgba(30, 38, 46, 0) 100%
  ) !important;
}
.aboutEco {
  display: flex;
  flex-direction: row;
  margin-top: 7vw;
}
.aboutCarousel {
  margin-top: 10%;
}
.aboutCarousel h1 {
  background-image: linear-gradient(
    335deg,
    rgba(136, 96, 243, 1) 27%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-top: 5%;
}

.carouselAbout {
  display: flex;
  gap: 6.944vw;
}

.aboutSocial {
  margin-top: 10%;
}
.aboutBody h1, .aboutSocial h1 {
  background-image: linear-gradient(270deg, #6c6a6a 6.12%, #ffffff 103.1%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media only screen and (max-width: 1000px) {
  .contactUsButton {
    border-radius: 4px !important;
  }
}
@media only screen and (max-width: 900px) {
  .contactUsButton {
    border-radius: 3px !important;
  }
}
@media only screen and (max-width: 500px) {
  .aboutMethodCards-1 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
