.blur-container {
    position: absolute;
    top:0;
    left:0;
    right:0;
  }


  #button1,#button2{
    opacity:0;
  }

  .blur-image {
    width:90vw;
    height:90vh;
    margin-left:7vw;
    position: relative;
    z-index: 2;
    opacity:0;
    animation:resize 2s ease-in 1s, 
              resize1 2s ease-out 2s;

  }

  @keyframes resize{
    0%{
        opacity:0;
    }
    10%{
       opacity:0.1;
    }
    20%{
       opacity:0.2;
    }
    30%{
      opacity:0.3;
    }
    40%{
       opacity:0.4;
    }
    50%{
        opacity:0.5;
    }
    60%{
       opacity:0.6;
    }
    70%{
        opacity:0.7;
    }
    80%{
       opacity:0.8;
    }
    90%{
        opacity:0.9;
    }
    100%{
        opacity:1;
    }

  }
  @keyframes resize1{
    0%{
        opacity:0.9;
    }
    50%{
       opacity:0.5;
    }
    100%{
       opacity:0;
    }
  }
