.feature {
    background-color: black;
}
.feature-shadow {
    /* width: 100vw; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.feature-2-1 {
    transform: rotate(2.37deg);
}
.feature-browsing-6_1 {
    background: linear-gradient(#0e101c, #0e101c) padding-box,
        linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)),
        linear-gradient(90deg, #ff3bff 0%, #ecbfbf 38.02%, #5c24ff 75.83%, #d94fd5 100%) border-box;
    border: 1px solid transparent;
    display: flex;
    width: 493px;
    height: 71px;
    margin-top: 1.5vw;
    border-radius: 7px;
    filter: brightness(150%);
}
.feature-browsing-6-1 {
    font-size: 40px;
    color: white;
}
.feature-browsing-6-2 {
    font-size: 20px;
    font-weight: 450;
    color: white;
    background-color: transparent;
    border: transparent;
    /* margin: 0.2vw 0; */
}
.feature-browsing-6-2:focus {
    outline: none;
}
.feature-2-2 {
    color: white;
    /* position: relative;
    padding-top: 5vw; */
    /* right: 9vw; */
}

.feature-2-2-3 {
    left: 41.5vw;
}
.feature-3-1,
.feature-3-2 {
    font-size: 96px;
    color: white;
    font-weight: 700;
    /* padding-left: 5.29vw; */
}
.feature-3-3,
.feature-3-4 {
    /* padding-left: 5.29vw; */
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.feature-3-5-2 {
    font-weight: 700;
    color: white;
    background: linear-gradient(#0e101c, #0e101c) padding-box,
        linear-gradient(
                228.09deg,
                #ffea2c -9.95%,
                rgba(251, 108, 4, 0.796875) 12.47%,
                rgba(255, 126, 227, 0.81) 30.87%,
                rgba(255, 255, 255, 0) 53.87%,
                rgba(131, 73, 255, 0.65) 70.34%,
                #0eff26 100.44%
            )
            border-box;
    border: 1px solid transparent;
    background-color: #0e101c;
    position: relative;
    transform-style: preserve-3d;
}
.feature-shadow-1::before {
    content: "";
    position: absolute;
    inset: -0.5vw;
    z-index: -1;
    transform: translate3d(0, 0, -0.052vw); /* (X, Y, Z) */
    background: linear-gradient(
        228.09deg,
        #ffea2c -9.95%,
        rgba(251, 108, 4, 0.796875) 12.47%,
        rgba(255, 126, 227, 0.81) 30.87%,
        rgba(255, 255, 255, 0) 53.87%,
        rgba(131, 73, 255, 0.65) 70.34%,
        #0eff26 100.44%
    );
    background-color: #0e101c;
    opacity: 0.7;
    filter: blur(0.781vw);
}
.feature-hover:hover::before {
    content: "";
    position: absolute;
    inset: -1px;
    z-index: -1;
    transform: translate3d(0, 0, -0.052vw); /* (X, Y, Z) */
    background: linear-gradient(
        228.09deg,
        #ffea2c -9.95%,
        rgba(251, 108, 4, 0.796875) 12.47%,
        rgba(255, 126, 227, 0.81) 30.87%,
        rgba(255, 255, 255, 0) 53.87%,
        rgba(131, 73, 255, 0.65) 70.34%,
        #0eff26 100.44%
    );
    background-color: #0e101c;
    opacity: 0.5;
    filter: blur(0.781vw);
}
.feature-3-6,
.feature-3-7 {
    font-weight: 700;
    font-size: 96px;
    /* height: 7vw; */
    color: white;
    /* width: 100%; */
    /* text-align: right;
    padding-right: 6vw; */
}
/* .feature-3-6 {
    height: 9vw;
    padding-top: 3vw;
} */
.feature-3-8,
.feature-3-9 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    /* width: 100%; */
    /* text-align: right;
    padding-right: 6vw; */
}
.feature-3-8 {
    padding-top: 2vw;
}
.feature-3-10 {
    margin-top: 12.1vw !important;
    width: 66.13vw;
    height: 1vw;
    margin: 0 16.9vw;
    background-color: #01eb5f;
    color: white;
}
.feature-3-11 {
    font-size: 2.38vw;
    font-weight: 700;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 3vw;
    height: 7vw;
}
.feature-3-12 {
    font-size: 1.6vw;
    font-weight: 400;
    color: white;
    width: 100%;
    text-align: center;
}
.feature-3-13 {
    width: 100%;
    text-align: center;
    padding-top: 4vw;
}
.feature-3-13-1 {
    width: 40.3vw;
    height: 29.3vw;
    margin: 0 auto;
}
.feature-3-14 {
    border-radius: 45px;
    background: #1b1c20;
    text-align: center;
    color: white;
}
.feature-3-14-1 {
    font-size: 150px;
    font-weight: 800;
}
.feature-3-14-2 {
    font-size: 63px;
    font-weight: 600;
}
.feature-3-14-3 {
    font-size: 22px;
    font-weight: 700;
    width: 325px;
    height: 89px;
    border-radius: 58px;
}
.feature-browsing-5 {
    margin-top: 7vw;
    width: 100%;
    padding: 6vw 5vw 6vw 0;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background: radial-gradient(
        2.46% 0.03% at 50% 50%,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(255, 255, 255, 0.08) 100%
    );
    box-shadow: 0px 4px 20px 404px rgba(0, 0, 0, 0);
    backdrop-filter: blur(2.083vw);
    /* position: relative;
    z-index: 1; */
}
.feature-browsing-5-1 {
    font-size: 1.6vw;
    color: white;
}
.feature-browsing-5-2 {
    font-size: 4.2vw;
    color: white;
    font-weight: 450;
}
.feature-browsing-6 {
    background: linear-gradient(#0e101c, #0e101c) padding-box,
        linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)),
        linear-gradient(90deg, #ff3bff 0%, #ecbfbf 38.02%, #5c24ff 75.83%, #d94fd5 100%) border-box;
    border: 1px solid transparent;
    display: flex;
    gap: 15vw;

    margin-top: 1.5vw;
    /* margin-left: 61.5vw; */
    padding: 0 4vw;
    border-radius: 7px;
    filter: brightness(150%);
}
.feature-last-image {
    transform: rotate(76.538deg);
    width: 25vw;
    height: 28.63vw;
    position: absolute;
    top: 252vw;
    left: 7vw;
}
.feature-slider .slick-track {
    background-color: black;
}

.feature-bg {
    background-image: url("../Assets/feature_bg.svg") !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
