footer {
    background-color: #080808;
    color: #ababab;
    padding: 3.75vw 0;
    /* width:100vw; */
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left {
    display: flex;
    flex-direction: column;
}
.icons {
    display: flex;
    flex-direction: row;
}
.icons div {
    padding: 0 0.25vw;
}
