.navBar {
    backdrop-filter: blur(10px);
}
.hire {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #ff164e, #49ffff);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
@media only screen and (max-width: 439px) {
    .navi {
        justify-content: space-between;
    }
    .right div {
        padding: 4px 7px !important;
    }
}
.dropdown-menu.show {
    background-color: #1b1b1b;
    font-size: 0.9vw;
}

.me-auto.navbar-nav a {
    padding: 0.5vw !important;
}
.nav-item.dropdown a {
    padding: 0.5vw !important;
}

.navButton {
    font-size: 16px;
    font-weight: 600;
}
#dropdown-basic {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1vw !important;
    padding-top: 0 !important;
    color: #c4c4c4 !important;
}
#dropdown-basic::after {
    color: #c4c4c4 !important;
}
.dropdown-menu.show {
    border: 1px solid #9c9c9c;
    text-align: center !important;
    padding-top: 1.25vw !important;
    padding-bottom: 0.8vw !important;
}
.dropdown-menu.show a {
    color: #9c9c9c !important;
    font-size: 0.91vw !important;
    font-weight: 500 !important;
    padding-bottom: 1vw !important;
}

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
